.main-page{
    background-image: url("H14.jpg");
}

.middle{
   
  
}
.main-bg{
    background-image: url("H14.jpg");
}
.logo-img img{
    width: 10%;
}
.name{
    margin: 1% 0% 0% -21%;
}
#h-name{
    padding: 0% 0% 0% 12%;
}

.main-back{
    background-image: url("H14.jpg");
}